@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(182, 223, 224);
}



button {
  border: 5px solid rgba(44, 126, 177, 0.753);
  border-radius: 5px;
  background-color: rgb(247, 255, 227);
  color: rgb(15, 32, 131);
  text-align: center;
  padding: 8px;
}


input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 5px solid black;
  background-color: rgb(243, 222, 222);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}